<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>chandni.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DecisionServlet</servlet-name>
    <servlet-class>chandni.DecisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecisionServlet</servlet-name>
    <url-pattern>/DecisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersListServlet</servlet-name>
    <servlet-class>deepthi.OrdersListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersListServlet</servlet-name>
    <url-pattern>/OrdersListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <servlet-class>deepthi.ProvisionReadyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <url-pattern>/ProvisionReadyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>harish.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/Disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>susritha.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPortsServlet</servlet-name>
    <servlet-class>susritha.GetPortsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPortsServlet</servlet-name>
    <url-pattern>/GetPortsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyConnectionServlet</servlet-name>
    <servlet-class>susritha.ModifyConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyConnectionServlet</servlet-name>
    <url-pattern>/ModifyConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>susritha.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>harish.ValidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/ValidateLogin</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>chandni.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>DAO.GetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/GetDataServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <servlet-name>GetAllInitialData</servlet-name>
    <servlet-class>animesh.GetAllInitialData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllInitialData</servlet-name>
    <url-pattern>/GetAllInitialData</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>animesh.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>AddComplete</servlet-name>
    <servlet-class>animesh.AddComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplete</servlet-name>
    <url-pattern>/AddComplete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>GetVacantPortIdsServlet</servlet-name>
    <servlet-class>animesh.GetVacantPortIdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVacantPortIdsServlet</servlet-name>
    <url-pattern>/GetVacantPortIdsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GetVacantDPortIdsServlet</servlet-name>
    <servlet-class>animesh.GetVacantDPortIdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVacantDPortIdsServlet</servlet-name>
    <url-pattern>/GetVacantDPortIdsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GetDeviceDetailsServlet</servlet-name>
    <servlet-class>DAO.GetDeviceDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeviceDetailsServlet</servlet-name>
    <url-pattern>/GetDeviceDetailsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>GetAllDetailsServlet</servlet-name>
    <servlet-class>DAO.GetAllDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDetailsServlet</servlet-name>
    <url-pattern>/GetAllDetailsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>GetCircuitDetailsServlet</servlet-name>
    <servlet-class>DAO.GetCircuitDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCircuitDetailsServlet</servlet-name>
    <url-pattern>/GetCircuitDetailsServlet</url-pattern>
  </servlet-mapping>
  
</web-app>